.App {
  text-align: center;
}

h1 {
  text-align: center;
}

#main {
  padding: 0px;
}

nav {
  display: inline;
}

.nav-link {
  padding-left: 0px;
}

.top-logo {
  height: 80px;
  float: right;
  margin-top: 12px;
}

.header {
  background-color: #222;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}