.App {
  text-align: center;
}

.top-logo {
  height: 80px;
  float: right;
  margin: 0;
}

.header {
  background-color: #222;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 16px;
  top: 26px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #4d4b4b;
}